/* BACKGROUND */
body {
  background-image: url(img/fond3.jfif);
  background-position: center center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

/* MIXIN */
/* TITULO */
.title {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

/* SUBTITULO */
.subtitulo {
  color: white;
  text-align: center;
  border-color: rgba(236, 47, 104, 0.849);
  border-width: 0.3rem;
  border-radius: 2rem;
  border-style: solid;
  margin: 1.5rem 12.5rem;
  margin: 2rem auto;
}

/* NAV */
.menu {
  text-align: center;
  font-size: 1.1rem;
}

.menu ul a {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 3rem;
}

.menu ul a:hover {
  background-color: #ffaac4;
  cursor: pointer;
}

/* CAJA */
.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* EXTEND */
}

.contenedor .caja1, .contenedor .caja2 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.18rem;
  border-style: solid;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f188b4), to(#f58cd2));
  background-image: linear-gradient(#f188b4, #f58cd2);
  width: 21.8rem;
  height: 12.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.contenedor .caja1 h3, .contenedor .caja2 h3 {
  text-decoration: underline;
  line-height: 0.6rem;
}

.contenedor .caja1 h3 li, .contenedor .caja2 h3 li {
  list-style-type: square;
}

.contenedor .caja2 h3 {
  text-decoration: underline;
  line-height: 0.6rem;
}

.contenedor .caja2 h3 li {
  list-style-type: square;
}

/* PIE DE PAGINA */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-style: solid;
  border-color: white;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
}

/*ANIMACIONES*/
.zoom {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* FORMULARIO */
.formulario {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.75rem;
  text-decoration: underline;
}

form {
  width: 28.12rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.6rem 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

form input {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
}

textarea {
  min-height: 6.25rem;
  max-height: 12.5rem;
  padding-right: 14.2rem;
  margin-bottom: 1rem;
}

#boton {
  background-color: #be4dbe;
  color: white;
  padding: 1.5rem;
  border: none;
  font-weight: bold;
}

#boton:hover {
  cursor: pointer;
  background-color: #ffaac4;
}

/*EXTRA PAG QUIEN*/
.quiencont {
  margin-bottom: 2.5rem;
  padding-bottom: 30rem;
  padding-top: 1rem;
}

.formato {
  margin-bottom: 1rem;
}

/* EXTRA PAG QUE */
.cajja {
  border: solid;
  text-align: center;
  border-color: hotpink;
  color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

/*MEDIA QUERIES*/
@media (max-width: 320px) {
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caja1, .contenedor .caja2 {
    padding-right: 3rem;
    padding-bottom: 80%;
    width: 19rem;
  }
  .caja2 {
    padding-right: 3rem;
    padding-bottom: 80%;
    width: 19rem;
  }
  img {
    width: 4.5rem;
    padding: 0 1rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quiencont {
    padding-bottom: 30rem;
    margin-left: 0.6rem;
  }
  .prod {
    margin-left: 0.6rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  form {
    width: 18rem;
  }
  textarea {
    padding-right: 5rem;
  }
}

@media (max-width: 375px) {
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.6rem;
  }
  img {
    width: 4.5rem;
    padding: 0 1rem;
  }
  form {
    width: auto;
    margin: 1rem;
  }
  textarea {
    resize: none;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.6rem;
  }
  .caja1, .contenedor .caja2 {
    margin: 1rem;
  }
  img {
    width: 4.5rem;
    padding: 0 1rem;
  }
  .quiencont {
    margin: 1.6rem;
  }
  .prod {
    margin: 1.7rem;
  }
  form {
    width: auto;
    margin: 1rem;
  }
  textarea {
    resize: none;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .caja1, .contenedor .caja2, .contenedor .caja2 {
    margin: 1rem;
    padding-bottom: auto;
    margin-top: auto;
  }
}

.nav-item {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */