/* BACKGROUND */
body{
    background-image: url(img/fond3.jfif);
    background-position: center center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;  
    font-weight: bold;
}
  /* MIXIN */
  @mixin color {
    color: white
}
/* TITULO */
.title{
    @include color;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
}
/* SUBTITULO */
.subtitulo{
    @include color;
    text-align: center;
    border-color: rgba(236, 47, 104, 0.849);
    border-width: 0.3rem;
    border-radius: 2rem;
    border-style: solid;
    margin:1.5rem 12.5rem;
    margin:2rem auto;
}
/* NAV */
.menu{
    text-align: center;
    font-size: 1.1rem;
    ul a{
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 3rem;
        &:hover{
            background-color: rgb(255, 170, 196);
            cursor: pointer;
        }
    }
}
/* CAJA */
.contenedor{
    display: flex;
    justify-content: space-evenly;
    .caja1{ 
        @include color;
        display: flex;
        flex-direction: column;
        margin-top: 2.18rem;
        border-style: solid;
        border-radius: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        background-image: linear-gradient(rgb(241, 136, 180), rgb(245, 140, 210));    
        width: 21.8rem;
        height: 12.5rem;
        align-items: center;
        padding-top: 1rem;
        h3{
            text-decoration: underline;
            line-height: 0.6rem;
            li{
                list-style-type:square;
            }
        }
    }
  
    /* EXTEND */
    .caja2{
        @extend .caja1;
        h3{
            text-decoration:underline;
            line-height: 0.6rem;
            li{
                list-style-type: square;
            }
        }
    }

}
/* PIE DE PAGINA */
.footer{
    display: flex;
    justify-content: space-around;
    margin: 2.5rem;
    flex-direction: column;
    .redes{
        display: flex;
        justify-content: space-evenly;
        border-style: solid;
        border-color: white;
        border-radius: 1rem;
        color: white;
        padding: 1rem;
    }
}
/*ANIMACIONES*/
.zoom{
    transition: all 1s;
    &:hover{
    transform: scale(1.1);
    }
}
/* FORMULARIO */
.formulario{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-decoration: underline;
}
form{
    width: 28.12rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.6rem 1.25rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    input{
        width: 100%;
        text-transform: uppercase;
        font-size: 1.5rem;
    }    
}
textarea{
    min-height: 6.25rem;
    max-height: 12.5rem;
    padding-right: 14.2rem;
    margin-bottom: 1rem;
}

#boton{
    background-color: rgb(190, 77, 190);
    color: white;
    padding: 1.5rem;  
    border: none;  
    font-weight: bold;
    &:hover{
        cursor: pointer;
        background-color: rgb(255, 170, 196);
}
}
/*EXTRA PAG QUIEN*/
.quiencont{
    margin-bottom: 2.5rem;
    padding-bottom: 30rem;
    padding-top: 1rem;
}
.formato{
    margin-bottom: 1rem;
}

/* EXTRA PAG QUE */
.cajja{
    border: solid;
    text-align: center;
    border-color: hotpink;
    color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

/*MEDIA QUERIES*/
@media (max-width:320px){
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .caja1{
        padding-right: 3rem;
        padding-bottom: 80%;
        width: 19rem;
    }
    .caja2{
        padding-right: 3rem;
        padding-bottom: 80%;
        width: 19rem;
    }
    img{
        width: 4.5rem;
        padding:0 1rem;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
    .quiencont{
        padding-bottom: 30rem;
        margin-left: 0.6rem;
    }
    .prod{
        margin-left: 0.6rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    form{
        width:18rem;
    }
    textarea{
        padding-right: 5rem;
    }
}

.nav-item{
    list-style-type: none; 
    }

